.footer {
    background: linear-gradient(0deg, #531C80, #A31268);
    text-align: center;
    width: 100%;
    height: 150px;
    bottom: 0;
    left: 0
}

.links {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.cardLink {
    margin: 0 25px
}

.socialContact img {
    width: 60px;
}

.footer p {
    font-family: var(--primary-font);
    color: var(--light-yellow);
    font-size: 120%;
    padding: 10px;
}

@media screen and (max-width:1250px) {
    .links{
        justify-content: space-evenly;
        margin: 0;
    }
}

